{
  "semi": false,
  "trailingComma": "es5",
  "singleQuote": true,
  "printWidth": 90,
  "useTabs": false,
  "tabWidth": 2,
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "endOfLine": "auto"
}
