@tailwind base;

@tailwind components;

@tailwind utilities;

#chatbot-container * {
  font-family: inherit !important;
}

.spaced-letters {
  letter-spacing: 2px;
}

p {
  display: inline;
}

.scroll-stop {
  overflow: hidden;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

@layer utilities {
  .tw--translate-z-0 * {
    transform: translateZ(0);
  }

  .select-none {
    user-select: none;
  }
}
